{% extends "board/left_bar.html" %}
{% block main %}
    <div>
        <a class="btn btn-secondary" href="article/" style="float:right;">發文</a>
        <h1 align="center" style="margin-bottom: 20px;color:white">文章列表</h1>
    </div>
    {% for article in articles %}
        <div class="article">
            <div style="font-size: smaller;color: rgb(85, 154, 207);display: flex">
                <div style="font-style: italic;cursor: pointer"
                     onclick="window.location='/profile/?id={{ article.author_id }}'">{{ article.author.name or article.author.name }}
                </div>&nbsp;&nbsp;&nbsp;
                <div>{{ article.created_at.strftime("%m-%d %H:%M") }}</div>
            </div>
            <div style="font-size: x-large;margin-top: 3px">
                <a style="color: white;"
                   href="/board/{{ article.board_id }}/article/{{ article.id }}/"><b>{{ article.title }}</b></a>
            </div>
            <div style="margin-top: 5px;font-size: large;color:#aaaaaa">
                {{ article.content|truncate(30) }} ...
            </div>
            <div style="display: flex;margin-top: 20px;font-size: small;color:#aaaaaa">
                <div>讚 {{ article.likes|length }}&nbsp;&nbsp;&nbsp;</div>
                <div>回應 {{ article.comments|length }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}