{% extends "base.html" %}
{% block body %}
    <script src="https://rawgit.com/WeiChiaChang/Easter-egg/master/easter-eggs-collection.js"></script>
    <div class="row" style="margin-top: 20px">
        <div class="col-3" style="margin: auto"></div>
        <div class="col-6">
            <h2 style="padding-left: 15px;margin-bottom: 10px" align="center">臺科幣</h2>
            <div style="background-color: aliceblue;">
                <h3 align="center">你目前擁有...</h3>
                <h1 align="center"
                    style="color: red">{{ current_user.user_likes|length - current_user.coin_usage }}</h1>
            </div>
            <img style="margin: auto;display: block" align="center"
                 src="{{ url_for("static" ,filename="img/coins.jpg") }}" alt="">
            <div>
                <h2 align="center" style="margin-top: 10px">兌換獎勵</h2>
                <div>
                    <table class="table table-striped">
                        <thead class="">
                        <tr>
                            <th scope="col">項目</th>
                            <th scope="col">花費</th>
                            <th scope="col">兌換</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{% if current_user.ad %}去廣告{% else %}我好想看廣告{% endif %}</td>
                            <td>2</td>
                            <td>
                                {% if current_user.user_likes|length - current_user.coin_usage >= 2 %}
                                    <form action="/coin/" method="POST">
                                        <button type="submit" name="spend" value="spend"
                                                class="btn btn-warning">
                                            兌換
                                        </button>
                                    </form>
                                {% else %}
                                    <button class="btn btn-warning disabled">
                                        兌換
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>立即更新抽卡好友</td>
                            <td>5</td>
                            <td>
                                {% if current_user.user_likes|length - current_user.coin_usage >= 5 %}
                                    <form action="/coin/" method="POST">
                                            <button type="submit" name="card" value="card"
                                                    class="btn btn-warning">
                                                兌換
                                            </button>
                                        </form>
                                {% else %}
                                    <button class="btn btn-warning disabled">
                                        兌換
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>彩蛋</td>
                            <td>0</td>
                            <td>
                                <button class="btn btn-warning" onclick="egg()">
                                    兌換
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>申請成為管理員</td>
                            <td>877777777777777777777</td>
                            <td>
                                <button class="btn btn-warning disabled">
                                    兌換
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3" style="margin: auto"></div>
    </div>
    <script>
        function getRandom(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function egg() {
            let keywords = [
                "hi", "pikachu", "bravo", "ghost", "britney", "koggy", "sonic", "doggy", "spongebob", "gun", "money",
                "homer", "dog", "bird", "piqiu", "lol", "ohhh", "nyancat", "salamander", "airguitar", "dragon",
                "psyduck", "piggy", "sensei", "rabbit", "joker", "mario", "fox", "jump", "tank", "winner", "handsome",
                "penguin", "swim", "thankyou", "earth", "fly", "snorlax", "board", "haters", "onmyway", "no", "kirby",
                "hangover", "balloon", "cool", "walk", "ufo", "pie", "pokeball", "hippo", "hiphop", "robot", "bat",
                "travel", "haha", "kumamon", "unicorn", "wink"
            ];
            let index = getRandom(0, keywords.length - 1);
            for (var i = 0; i < keywords[index].length; i++) {
                let c = keywords[index].charAt(i);
                document.dispatchEvent(new KeyboardEvent("keyup", {
                    keyCode: c.charCodeAt(0) - 32,
                    which: c.charCodeAt(0) - 32
                }));
            }
        }
    </script>
{% endblock %}