{% extends "base.html" %}
{% block body %}
    <style>
        .bd {
            width: 50rem;
            margin-left: auto;
            margin-right: auto;
        }

        .bd + .bd {
            margin-top: 10px;
        }
    </style>
    <div class="row" style="padding-top: 20px;">
        <div class="col-12">
            {% for board in boards %}
                <div class="card text-white bg-primary bd">
                    <div class="card-body">
                        <div style="float:right;">版主：{{ board.admin.name }}</div>
                        <h4 class="card-title">{{ board.name }}</h4>
                        <div class="card-text" style="width: 600px;">{{ board.description }}</div>
                        <div>
                            <a style="float: right" href="/board/{{ board.id }}/" class="btn btn-light">進入看板</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}